.all_container{
    width: auto;
    min-width: 320px;
    height: 100%;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow-y: auto;
}
.all_loading_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.all_loading_txt{
    color: white;
    animation: txt_grow .60s alternate-reverse infinite;
    text-align: center;
    z-index: 2;
    top: 10%;
    position: absolute;
}
.all_loading_img{
    display: block;
    position: absolute;
    height: 100%;
    width: auto;
}

@keyframes txt_grow {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.25);
    }
}